/*-------------------------------------------*\
   class.css

   Utility Bar
   - Text
   - General

\*-------------------------------------------*/

/*-------------------------------------------*\
   Text
\*-------------------------------------------*/
.asgmt-title h2 {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  border-bottom: 3px solid #000;
}

/*-------------------------------------------*\
   General
\*-------------------------------------------*/
.asgmt-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 10px 0px;
  height: auto;
  width: 100%;
}
